
<form class="form-check" (ngSubmit)="ResgisterSeller()">
    <legend>Seller Registration</legend>

    <table class="table table-hover">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" id="name"
                [(ngModel)]="seller.name" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" id="email"
                [(ngModel)]="seller.email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" id="password" 
                [(ngModel)]="seller.password" /></td>
        </tr>
        <tr>
            <td>DOB</td>
            <td><input type="text" name="dom" id="dom" 
                [(ngModel)]="seller.dom" /></td>
        </tr>
        <tr>
            <td>Mobile No</td>
            <td><input type="number" name="mobileno" id="mobileno" 
                [(ngModel)]="seller.mobileno" /></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" name="city" id="city" 
                [(ngModel)]="seller.city" /></td>
        </tr>
    </table>

    <input type="submit" value="Register">
    <a routerLink="/login"> New Seller </a>
</form>