<h1>Books Shop</h1>


<a routerLink="/add"> Add Book </a>
<hr>
<h2>Welcome to Library</h2>
<table class="table table-hover">
    <thead> 
        <th>Book No</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of allBooks">
            <td>{{book.book_id}}</td>
            <td>{{book.book_name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.stock}}</td>
            <td>{{book.price}}</td>
            <td><a routerLink="/edit/{{book.book_id}}"> Edit</a></td>
            <td><a routerLink="/delete/{{book.book_id}}"> Delete</a></td>
        </tr>
    </tbody>
</table>