
<h1>Add Book</h1>

<form (ngSubmit)="AddBook()">
    <table>
        <tr>
            <td>Book Name</td>
            <td><input type="text" class="form-control" name="book_name" id="book_name" placeholder="Book Name" 
                [(ngModel)]="book.book_name"/></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" class="form-control" name="author" id="author" placeholder="Book Name" 
                [(ngModel)]="book.author"/></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input type="text" class="form-control" name="stock" id="stock" placeholder="Book Name" 
                [(ngModel)]="book.stock"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" class="form-control" name="price" id="price" placeholder="Book Name" 
                [(ngModel)]="book.price"/></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Add</button>
</form>