<p>Edit Book Page</p>

<hr>
<form action="" (ngSubmit)="UpdateBook()">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Stock</td>
                <td><input type="text" id="stock" name="stock" 
                    [(ngModel)]="book.stock" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" id="price" name="price" 
                    [(ngModel)]="book.price" /></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
