
<form class="form-check" (ngSubmit)="LogIn()">
    <legend>Seller Login</legend>

    <a routerLink="/sigin"> New Seller </a>
    <hr>
    <br>
    <div class="form-group">
        <label for="">UserName</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Input field" 
        [(ngModel)]="sellerDetail.email"/>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Input field"
        [(ngModel)]="sellerDetail.password"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
   
    <br><span>{{message}}</span>
</form>